body
{
	padding-top: 60px;
}

.jumbotron
{
	background: url(../img/medical-material.jpg) no-repeat top center;
	background-color:  #a6d9ea !important;
	color:white;
	height: 500px;
	overflow: hidden;
}

.navbar-brand
{
	font-size: xx-large !important;
}

.em-text
{
	color: #1caa98 !important;
}

.alert-login
{
	width: 87% !important;
}

.octocat
{
	width: 50px;
	height: 50px;
}